/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");

@import url("https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato");

/* Headers */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");

/* Paragraphs */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400&display=swap"); /* favorite */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap");

/*
Notes
padding: t/r/b/l
*/

/*------------------------------------------------------------------*/
/*All Pages*/
#content {
  color: #FAF9F6;
  margin: 0;
}

body {
  background-color: #F7B267;
}

/*------------------------------------------------------------------*/
/*All Pages Header*/
.header-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-areas: "hd hd hd";
  grid-gap: 10px;
}

.nav {
  grid-area: hd;
  font-size: 17px;
  text-align: center;
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-areas: "in in sk sk fo fo";
  place-self: center;
}

.about {
  border-radius: 5px;
  display: inline;
  font-family: "Roboto Mono", "Montserrat", sans-serif;
  grid-area: in;
}

.about a {
  background-color: #F25C54;
  border-radius: 5px;
  color: #FAF9F6;
  grid-area: in;
  padding: 10px;
  text-decoration: none;
}

.about a:hover {
  background-color: #F7B267;
  border-color: #F25C54;
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
  color: #F25C54;
  grid-area: in;
  padding: 10px;
  text-decoration: none;
}

.skills {
  border-radius: 5px;
  display: inline;
  font-family: "Roboto Mono", "Montserrat", sans-serif;
  grid-area: sk;
}

.skills a {
  background-color: #F25C54;
  border-radius: 5px;
  color: #FAF9F6;
  grid-area: sk;
  padding: 10px;
  text-decoration: none;
}

.skills a:hover {
  background-color: #F7B267;
  border-color: #F25C54;
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
  color: #F25C54;
  grid-area: sk;
  padding: 10px;
  text-decoration: none;
}

.forms {
  border-radius: 5px;
  display: inline;
  font-family: "Roboto Mono", "Montserrat", sans-serif;
  grid-area: fo;
}

.forms a {
  background-color: #F25C54;
  border-radius: 5px;
  color: #FAF9F6;
  grid-area: fo;
  padding: 10px;
  text-decoration: none;
}

.forms a:hover {
  background-color: #F7B267;
  border-color: #F25C54;
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
  color: #F25C54;
  grid-area: fo;
  padding: 10px;
  text-decoration: none;
}

/*------------------------------------------------------------------*/
/*About Me Page*/
.main-container1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-areas:
    "i1 i1 i1 i1"
    "i2 i2 i2 i2"
    "i3 i3 i4 i4"
    "i3 i3 i4 i4"
    "i5 i5 i6 i6"
    "i5 i5 i6 i6";
  padding: 20px;
  grid-gap: 10px;
}

section {
  text-align: center;
  font-family: "Roboto Mono", "Montserrat", sans-serif;
}

section h3 {
  background-color: #F27059;
  border-radius: 5px;
  padding: 20px;
}

.item1 {
  grid-area: i1;
}

.item2 {
  grid-area: i2;
  background-color: #F79D65;
  border-radius: 5px;

  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-areas: "bi hob edu gL";
  padding-top: 5%;
}

.bio-link {
  grid-area: bi;
  padding: 30px 30px 30px 30px;
  margin: 10px;
  margin-left: 20px;
}

.hobbies-link {
  grid-area: hob;
  padding: 30px 30px 30px 30px;
  margin: 10px;
}

.edu-link {
  grid-area: edu;
  padding: 30px 30px 30px 30px;
  margin: 10px;
}

.goal-link {
  grid-area: gL;
  padding: 30px 30px 30px 30px;
  margin: 10px;
}

.tooltiptext {
  visibility: hidden;
  width: 30px;
  background-color: #faf9f66c;
  color: #FAF9F6;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  font-family: "Nunito", Monospace, sans-serif;
  font-size: 14px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.item3 {
  grid-area: i3;
  background-color: #F79D65;
  font-family: "Nunito", Monospace, sans-serif;
  padding: 0 25px 0 25px;
  border-radius: 5px;
}

.item4 {
  grid-area: i4;
  background-color: #F79D65;
  font-family: "Nunito", Monospace, sans-serif;
  padding: 0 25px 0 25px;
  border-radius: 5px;
}

.item5 {
  grid-area: i5;
  background-color: #F79D65;
  font-family: "Nunito", Monospace, sans-serif;
  padding: 0 25px 0 25px;
  border-radius: 5px;
}
.item5 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item6 {
  grid-area: i6;
  background-color: #F79D65;
  font-family: "Nunito", Monospace, sans-serif;
  padding: 0 25px 0 25px;
  border-radius: 5px;
}

/*------------------------------------------------------------------*/
/*Skills Page*/
.main-container2 {
  display: grid;
  grid-template-areas:
    "ia ia ia ia"
    "comp comp comp comp"
    "comp comp comp comp"
    "ib ib ib ib"
    "lang lang lang lang"
    "lang lang lang lang";
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  padding: 20px;
}

.item-a {
  grid-area: ia;
}

.computer {
  grid-area: comp;
  /*------------*/
  display: grid;
  grid-template-areas:
    "py py js js"
    "py py js js"
    "ht ht cs cs"
    "ht ht cs cs";
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  padding: 20px;
  grid-column-gap: 50px;
  grid-row-gap: 30px;
  place-self: center;
}

.python {
  grid-area: py;
}

.javascript {
  grid-area: js;
}

.HTML {
  grid-area: ht;
}

.css {
  grid-area: cs;
}

.item-b {
  grid-area: ib;
}

.language {
  grid-area: lang;
  /*------------*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-areas:
    "en en fr fr"
    "en en fr fr"
    ". es es ."
    ". es es .";
  padding: 20px;
  grid-column-gap: 50px;
  grid-row-gap: 30px;
  place-self: center;
}

img {
  max-width: 100%;
}

.English {
  grid-area: en;
}

.French {
  grid-area: fr;
}

.Spanish {
  grid-area: es;
}

.boxes {
  max-height: 100%;
  width: 320px;
  box-shadow: 1px 1px 4px 1px #F25C54;
  border-radius: 10px;
  overflow: hidden;
  background-color: #FAF9F6;
}

.top {
  padding: 10px 50px 10px 60px;
}

.bottom {
  padding: 5px 15px 34px 15px;
  background-color: #F79D65;
  text-align: center;
  font-family: "Roboto Mono", "Montserrat", sans-serif;
}

.projectsButton {
  font-family: "Nunito", Monospace, sans-serif;
  font-size: 14px;
  background-color: #F25C54;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px 0px 0px 5px;
  color: #FAF9F6;
}

.moreButton {
  font-family: "Nunito", Monospace, sans-serif;
  font-size: 14px;
  text-decoration: none;
  background-color: #F25C54;
  padding: 5px;
  border-radius: 0px 5px 5px 0px;
  margin-left: -2px;
  color: #FAF9F6;
}

.moreinfoButton {
  font-family: "Nunito", Monospace, sans-serif;
  font-size: 14px;
  text-decoration: none;
  background-color: #F25C54;
  padding: 5px;
  border-radius: 5px 5px 5px 5px;
  color: #FAF9F6;
}
/*------------------------------------------------------------------*/
/*Forms/Contact Me Page*/

#feedback {
  background-color: #F25C54;
  font-family: "Nunito", Monospace, sans-serif;
  font-size: 14px;
  padding: 20px;
  border-radius: 8px;
}

.title_a9,
.title_a10 {
  font-family: "Roboto Mono", "Montserrat", sans-serif;
  text-align: center;
}

.main-container3 {
  display: grid;
  grid-template-areas:
    "b-1 b-1 b-1 b-1"
    "b-2 b-2 b-2 b-2";
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  padding: 20px;
}

.box-1 {
  background-color: #F25C54;
  grid-area: b-1;
  border-radius: 8px;
}

.box-2 {
  background-color: #F4845F;
  grid-area: b-2;
  /*------------*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-areas:
    "b-l b-l b-r b-r"
    "b-l b-l b-r b-r"
    "b-l b-l b-r b-r"
    "b-l b-l b-r b-r";
  padding: 20px;
  grid-gap: 10px;
  border-radius: 8px;
}

.box-left {
  grid-area: b-l;
}

.box-right {
  grid-area: b-r;
  background-color: #F25C54;
  border-radius: 8px;
  text-align: center;
  font-family: "Nunito", Monospace, sans-serif;
}

.box-right ul {
  list-style-type: none;
}

.box-info ul {
  font-size: 14px;
  text-align: center;
}

#name,
#mail,
#phone,
#company,
#msg {
  padding: 3px;
}

.box-img {
  background-color: #F27059;
  padding-top: 20px;
  padding-bottom: 60px;
  border-radius: 8px 8px 0 0;
  text-align: center;
  font-family: "Nunito", Monospace, sans-serif;
}

/*------------------------------------------------------------------*/
/*All Pages Footer*/
.footer-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-areas: "ft ft ft ft";
  text-align: center;
  padding: 20px;
  grid-gap: 10px;
}

.footer {
  grid-area: ft;
  background-color: #F25C54;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-areas: "c st s";
  border-radius: 5px;
}
.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.copy {
  grid-area: c;
  display: inline-block;
  padding: 10px;
  place-self: center;
  font-family: "Nunito", Monospace, sans-serif;
}

.siteplan-link {
  grid-area: st;
  display: inline-block;
  font-size: 18px;
  color: white;
  place-self: center;
}

.siteplan-link a {
  grid-area: st;
  display: inline-block;
  padding: 15px;
  font-family: "Nunito", Monospace, sans-serif;
  font-size: 18px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.siteplan-link a:hover {
  grid-area: st;
  border-style: solid;
  border-width: 2px;
  border-color: #F7B267;
  background-color: #F7B267;
  color: #F25C54;
  font-family: "Nunito", Monospace, sans-serif;
}

.social {
  grid-area: s;
  display: inline-block;
  padding: 10px;
  place-self: center;
}

.facebook {
  list-style-type: none;
  display: inline-block;
}

.instagram {
  list-style-type: none;
  display: inline-block;
}

.youtube {
  list-style-type: none;
  display: inline-block;
}

/*Desktop first*/
@media (max-width: 600px) {
  /*------------------------------------------------------------------*/
  /*All Pages Header*/
  .header-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-areas:
      "hd"
      "hd"
      "hd";
    grid-gap: 10px;
    padding: 20px;
    margin-bottom: -105px;
  }

  .nav {
    grid-area: hd;
    font-size: 17px;
    text-align: center;
  }
  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .nav-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-areas:
      "in"
      "sk"
      "fo";
    grid-row-gap: 20px;
    place-self: center;
  }

  .about {
    border-radius: 5px;
    font-family: "Roboto Mono", "Montserrat", sans-serif;
    grid-area: in;
  }

  .about a {
    background-color: #F25C54;
    border-radius: 5px;
    color: #FAF9F6;
    grid-area: in;
    padding: 10px;
    text-decoration: none;
  }

  .about a:hover {
    background-color: #F7B267;
    border-color: #F25C54;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    color: #F25C54;
    grid-area: in;
    padding: 10px;
    text-decoration: none;
  }

  .skills {
    border-radius: 5px;
    font-family: "Roboto Mono", "Montserrat", sans-serif;
    grid-area: sk;
  }

  .skills a {
    background-color: #F25C54;
    border-radius: 5px;
    color: #FAF9F6;
    grid-area: sk;
    padding: 10px;
    text-decoration: none;
  }

  .skills a:hover {
    background-color: #F7B267;
    border-color: #F25C54;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    color: #F25C54;
    grid-area: sk;
    padding: 10px;
    text-decoration: none;
  }

  .forms {
    border-radius: 5px;
    font-family: "Roboto Mono", "Montserrat", sans-serif;
    grid-area: fo;
  }

  .forms a {
    background-color: #F25C54;
    border-radius: 5px;
    color: #FAF9F6;
    grid-area: fo;
    padding: 10px;
    text-decoration: none;
  }

  .forms a:hover {
    background-color: #F7B267;
    border-color: #F25C54;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    color: #F25C54;
    grid-area: fo;
    padding: 10px;
    text-decoration: none;
  }

  /*------------------------------------------------------------------*/
  /*About Me Page*/
  .main-container1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-areas:
      "i1"
      "i2"
      "i3"
      "i4"
      "i5"
      "i6";
    padding: 20px;
    grid-gap: 10px;
    margin-top: -10px;
  }

  section {
    text-align: center;
    font-family: "Roboto Mono", "Montserrat", sans-serif;
  }

  section h3 {
    background-color: #F27059;
    border-radius: 5px;
    padding: 20px;
  }

  .item1 {
    grid-area: i1;
  }

  .item2 {
    grid-area: i2;
    background-color: #F79D65;
    border-radius: 5px;

    display: inline-grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-areas:
      "bi"
      "hob"
      "edu"
      "gL";
    padding-top: 5%;
  }

  .bio-link {
    grid-area: bi;
    padding: 30px 30px 30px 30px;
    margin: 10px;
    margin-left: 20px;
  }

  .hobbies-link {
    grid-area: hob;
    padding: 30px 30px 30px 30px;
    margin: 10px;
  }

  .edu-link {
    grid-area: edu;
    padding: 30px 30px 30px 30px;
    margin: 10px;
  }

  .goal-link {
    grid-area: gL;
    padding: 30px 30px 30px 30px;
    margin: 10px;
  }

  .tooltiptext {
    visibility: hidden;
    width: 30px;
    background-color: #faf9f66c;
    color: #FAF9F6;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    font-family: "Nunito", Monospace, sans-serif;
    font-size: 14px;
  }
  .tooltip:hover .tooltiptext {
    visibility: hidden;
  }

  .item3 {
    grid-area: i3;
    background-color: #F79D65;
    font-family: "Nunito", Monospace, sans-serif;
    padding: 0 25px 0 25px;
    border-radius: 5px;
  }

  .item4 {
    grid-area: i4;
    background-color: #F79D65;
    font-family: "Nunito", Monospace, sans-serif;
    padding: 0 25px 0 25px;
    border-radius: 5px;
  }

  .item5 {
    grid-area: i5;
    background-color: #F79D65;
    font-family: "Nunito", Monospace, sans-serif;
    padding: 0 25px 10px 25px;
    border-radius: 5px;
  }
  .item5 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .item6 {
    grid-area: i6;
    background-color: #F79D65;
    font-family: "Nunito", Monospace, sans-serif;
    padding: 0 25px 0 25px;
    border-radius: 5px;
  }
  /*------------------------------------------------------------------*/
  /*Skills Page*/
  .main-container2 {
    display: grid;
    grid-template-areas:
      "ia"
      "comp"
      "ib"
      "lang";
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    padding: 20px;
  }

  .item-a {
    grid-area: ia;
  }

  .computer {
    grid-area: comp;
    /*------------*/
    display: grid;
    grid-template-areas:
      "py"
      "js"
      "ht"
      "cs";
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    padding: 20px;
    grid-column-gap: 50px;
    grid-row-gap: 30px;
    place-self: center;
  }

  .python {
    grid-area: py;
  }

  .javascript {
    grid-area: js;
  }

  .HTML {
    grid-area: ht;
  }

  .css {
    grid-area: cs;
  }

  .item-b {
    grid-area: ib;
  }

  .language {
    grid-area: lang;
    /*------------*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-areas:
      "en"
      "fr"
      "es";
    padding: 20px;
    grid-row-gap: 30px;
    place-self: center;
  }

  .language img,
  .computer img {
    width: 100%;
    height: 100%;
  }

  .English {
    grid-area: en;
  }

  .French {
    grid-area: fr;
  }

  .Spanish {
    grid-area: es;
  }

  .boxes {
    max-height: 100%;
    max-width: 100%;
    box-shadow: 1px 1px 4px 1px #F25C54;
    border-radius: 10px;
    overflow: hidden;
    background-color: #FAF9F6;
    place-self: center;
  }

  .top {
    padding: 10px 50px 10px 60px;
  }

  .bottom {
    padding: 5px 15px 34px 15px;
    background-color: #F79D65;
    text-align: center;
    font-family: "Roboto Mono", "Montserrat", sans-serif;
  }

  .projectsButton {
    font-family: "Nunito", Monospace, sans-serif;
    font-size: 14px;
    background-color: #F25C54;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px 0px 0px 5px;
    color: #FAF9F6;
  }

  .moreButton {
    font-family: "Nunito", Monospace, sans-serif;
    font-size: 14px;
    text-decoration: none;
    background-color: #F25C54;
    padding: 5px;
    border-radius: 0px 5px 5px 0px;
    margin-left: -2px;
    color: #FAF9F6;
  }

  .moreinfoButton {
    font-family: "Nunito", Monospace, sans-serif;
    font-size: 14px;
    text-decoration: none;
    background-color: #F25C54;
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
    color: #FAF9F6;
  }
}
